qaautomation/xsd/loginpage.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="locatortype" use="optional"/>
                <xs:attribute type="xs:string" name="locatorvalue" use="optional"/>
                <xs:attribute type="xs:string" name="errortext" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>